.header {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.logo-wrapper {
  margin-bottom: 1.5rem;
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.email {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;

  &__link {
    color: #000;
    text-decoration: none;
  }
}

.tel {
  display: flex;
  flex-flow: column nowrap;

  &__link {
    color: #000;
    text-decoration: none;
    margin-bottom: 5px;
  }
}

@media(min-width: 768px) {
  .header {
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrapper {
    margin-bottom: 0;
  }

  .contact {
    flex-flow: row;
    align-items: center;
  }

  .email {
    margin-right: 24px;
  }
}