* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.course-start {
  max-width: 416px;
  margin: 10px;
  margin-bottom: 35px;
  border: 1px solid #fafafa;
  padding: 0 0 0 43px;
  -webkit-box-shadow: -5px 6px 30px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -5px 6px 30px -5px rgba(0, 0, 0, 0.36);
  box-shadow: -5px 6px 30px -5px rgba(0, 0, 0, 0.36);

  &__content {
    padding: 48px 0 0;
  }

  &__headline,
  &__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__headline {
    &--bg-black {
      color: #fff;
      background-color: #000;
    }
  }

  &__text {
    &--relative {
      position: relative;
    }

    &--before::before {
      position: absolute;
      content: "";
      width: 62px;
      height: 3px;
      top: 4px;
      left: 0;
      background-color: #ef742f;
      transform: rotate(-15deg);
    }

    &--after::after {
      position: absolute;
      content: "9 900 грн";
      top: 20px;
      left: 0;
    }
  }

  &__add-access {
    position: relative;
    margin-top: 40px;
    margin-left: 23%;

    &--before::before {
      position: absolute;
      content: "";
      height: 36px;
      width: 3px;
      left: -25px;
      top: 1px;
      background-color: #000;
      transform: rotate(30deg);
    }
  }

  &__add-text {
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ef7330;
  }
}

.course-start-btn {
  display: flex;
  justify-content: center;
  margin: auto;

  &__button {
    max-width: 336px;
    width: 93%;
    height: 48px;
    background-color: #ef7330;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: -5px 6px 30px -5px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: -5px 6px 30px -5px rgba(0, 0, 0, 0.26);
    box-shadow: -5px 6px 30px -5px rgba(0, 0, 0, 0.26);
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px;
}

.row-left-side {
  width: 64%;
  text-align: right;
}

.row-right-side {
  display: flex;
  width: 34%;
  text-align: left;
  align-items: flex-end;
}

@media(min-width:420px) {

  .course-start {
    margin: 10px auto;
    margin-bottom: 55px;

    &__add-access {
      margin-left: 70px;
    }
  }

  .row-left-side {
    width: 45%;
  }

  .row-right-side {
    width: 53%;
  }
}