/*
   Import partials below
*/
@import './normalize';
@import './fonts.scss';
@import './variables.scss';
@import './headerNew.scss';
@import './section-3.scss';
@import './section-2.scss';
@import './section-5.scss';
@import "./section-7.scss";
@import './footerNew.scss';
@import './section-1.scss';

//  Styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
     min-width: 320px;
     padding: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.wrapper{
     max-width: 850px;
}

